/* ===== Initializr Styles ==================================================
   Main
   ========================================================================== */

body {
    font: 16px/26px Arial, Helvetica, Helvetica Neue;
}
.container {
    width: 60%;
    margin: 20px auto;
    background: #efefef;
    padding: 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}
.titles{
    font-weight: 100;
    color: #AAA;
    margin-top: 0;
}
h1.titles{
    font-size: 20px;
}
h2.titles{
    font-size: 16px;
}
.content-form {   
    width: 60%;
    margin-left: 50px;
}
.col{
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.form-group{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.form-group label {
    text-align: right;
    margin-right: 50px;
    font-weight: 700;
}
.step{
    margin-bottom: 20px;
}
.form-group .form-input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    width: 100%;
    padding: 5px 10px;
    box-shadow: none;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
.form-group .form-input.align{
    margin-left: 30px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.danger{
    color: red;
}

#grad {
    height: 30px;
    max-width: 75px;
    background: red; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(90deg,green, yellow, red ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, green, yellow, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, green, yellow, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg,green, yellow, red); /* Standard syntax (must be last) */
    color:white;
    text-align:center;
    margin-left: 10px;
}
.itempassword {
    background:black;
    width:8%;
    height:100%;
    line-height:50%;
    vertical-align:middle;
    text-align:center;
    font-size:10px;
}

.div-table{
  display:table;         
  width:auto;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;         
  background-color:#ccc;  
}

.input-danger.form-input{
    border: 1px solid red;
}

.input-danger.form-input:focus{
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
    outline: none
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}